/* 
    Document   : styles
    Created on : Dec 10, 2012, 10:27:37 PM
    Author     : babjichetty
    Description: Game of Life Web App CSS Styles
*/

root { 
    display: block;
}

.roundedBorderDiv {
    border: 1px solid lightgray;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 30px;
    width: 30px;
    float: left;
    background-color: aliceblue;
}
